tool addr2line:ar:as:c++:c++-4.1.1:c++filt:cpp:g++:g++-4.1.1:gaddr2line:gar:gas:gc++filt:gcc:gcc-4.1.1:gccbug:gcov:gcov-4.1.1:gld:gnm:gobjcopy:gobjdump:gprof:granlib:greadelf:gsize:gstrings:gstrip:i686-pc-linux-gnu-c++:i686-pc-linux-gnu-g++:i686-pc-linux-gnu-gcc:i686-pc-linux-gnu-gcc-4.1.1:ld:nm:objcopy:objdump:ranlib:readelf:size:sparc-sun-solaris2.8-c++:sparc-sun-solaris2.8-g++:sparc-sun-solaris2.8-gcc:sparc-sun-solaris2.8-gcc-4.1.1:strings:strip:x86_64-unknown-linux-gnu-c++:x86_64-unknown-linux-gnu-g++:x86_64-unknown-linux-gnu-gcc:x86_64-unknown-linux-gnu-gcc-4.1.1 package gnu-gcc-4.1.1-binutils-2.16.1
