<html>
	<head>
	<title>File Transfer Status</title>
<meta http-equiv="refresh" content="3;URL=[% URL %]?rm=upload_status" />
        <link rel="stylesheet" href="[% STYLESHEET %]" type="text/css">
	</head>
	<body>

	<h1>Transfer in Progress</h1>
	<p>
	Uploading your file to the web-server, please stand by.
	</p>
	<p>
	This window will automatically refresh
	</p>
        <p> Bytes transferred: [% BYTES_SAVED %] </p>
	</body>
</html>
	
